<footer>
    <div class="footer-container">
        <div class="footer-main">
            <div class="footer-columna">
                <!-- <p id="contacto">CONTACTO</p> -->
                <p id="tel1"><i class="fas fa-phone"></i> &nbsp; 011 2052-4118</p>
                <p id="tel"><i class="fab fa-whatsapp"></i> &nbsp; +54 11 5455-5533</p>
                <p id="tel"><i class="fab fa-whatsapp"></i> &nbsp; +54 11 5706-5509</p>
            </div>
            <div class="footer-columna">
                <!-- <p id="contacto">UBICACIÓN</p> -->
                <p id="tel1"><i class="fas fa-map-marker-alt"></i> &nbsp; Olleros 3591, Buenos Aires, Argentina</p>
                <p id="tel"><i class="far fa-envelope"></i> &nbsp; garciapropiedades1510@hotmail.com</p>
            </div>
        </div>
    </div>
    <div class="footer-copy-redes">
        <div class="copy-redes-main">
            <div class="footer-copy">
                <p>© Copyright 2019. Todos los derechos reservados.</p>
            </div>
            <div class="footer-redes">
                <a href="https://www.instagram.com/ivgpropiedades/?hl=es-la" target="_blank"><img src="../../img/instagram.png" alt="Logo instagram" width="30" height="auto"></a>
            </div>
        </div>
    </div>
</footer>