<!-- NAV -->
<!-- <div id="imagen_barra">
        <div id="edificio">
            <img src="edificio.png" alt="Logo edificio" width="35%" height="auto">
        </div>
    </div> -->
<nav id="barra_lateral">
    <ul>
        <div class="opcion">
            <li><a href="/">Inicio</a></li>
        </div>
        <div class="opcion">
            <li><a href="/inmuebles">Inmuebles</a>
                <!-- <ul>
                            <li><a href="#">Ventas</a></li>
                            <li><a href="#">Alquileres</a>
                                <ul>
                                    <li><a href="#">Alquiler</a></li>
                                    <li><a href="#">Alquiler temporal</a></li>
                                </ul>
                            </li>
                        </ul> -->
            </li>
        </div>
        <div class="opcion">
            <li><a href="/servicios">Servicios</a></li>
        </div>
        <div class="opcion">
            <li><a href="/nosotros">Nosotros</a></li>
        </div>
        <div class="opcion">
            <li><a href="/contacto">Contacto</a></li>
        </div>
    </ul>
</nav>
<!-- TERMINA NAV -->