<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="ivgarciapropiedades, ignacio garcia, capital federal, departamentos, casas, cocheras, lotes, ph, duplex, inmuebles, inmobiliaria, bienes raices, venta, ventas, alquiler, propiedades, tasaciones, real estate, estate, 
        appraisals" />
    <meta name="description"
        content="ivgarciapropiedades es una inmobiliaria que alquila y vende propiedades en Capital Federal. Departamentos, casas, chalets, terrenos, oficinas, ph, lotes, fondos de comercio, cocheras, campos, emprendimientos y todo tipo de inmuebles. Ignacio Garcia" />
    <link rel="stylesheet" href="../css/inmo.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">

    <title>Signup</title>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/227ddda5f1.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1>Registrarse</h1>
                    </div>
                    <div class="card-body">
                        <form action="/signup" method="POST">
                            <div class="form-group">
                                <label for="text">Nombre</label>
                                <input type="text" class="form-control" name="nombre">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>