<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../public/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="ivgarciapropiedades, ignacio garcia, capital federal, departamentos, casas, cocheras, lotes, ph, duplex, inmuebles, inmobiliaria, bienes raices, venta, ventas, alquiler, propiedades, tasaciones, real estate, estate, 
    appraisals"/>
    <meta name="description" content="ivgarciapropiedades es una inmobiliaria que alquila y vende propiedades en Capital Federal. Departamentos, casas, chalets, terrenos, oficinas, ph, lotes, fondos de comercio, cocheras, campos, emprendimientos y todo tipo de inmuebles. Ignacio Garcia"/>
    <link rel="stylesheet" href="../css/inmo.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    
    <title><%= title %></title>
    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/227ddda5f1.js"></script>

</head>
<body>
    <% include partials/cabecera.html %>

    <% include partials/logo.html %>

    <% include partials/nav.html %>

    <% include partials/barra_busqueda.html %>


    <footer class="container-fluid" style="background-color: aqua">
        <div class="row">
            <div class="col-4">
                <i id="mobile" class="fas fa-mobile-alt" style="text-align: center"></i>
                <p id="llamar">Llámenos</p>
                <br>
                <p id="cel_nacho">+54 1154555533</p>
            </div>
        </div>
    </footer>




    
    <!-- <div id="contenedor">
        
        <div id="cabecera">
            <img src="logo2.jpeg" alt="#" width="20%">
            <p class="telefono">
                    <img src="../extra/telefono.png" alt="">2052-4118
            </p>
        </div>
        
        <div id="barraLateral">
            <ul>
                <li>Inicio</li>
                <li>Quiénes somos</li>
                <li>Contacto</li>
            </ul>
        </div>
        
        <div id="buscador">
            <button id="venta">Ventas</button>
            <button id="alquiler">Alquileres</button>
            <input type="text" placeholder="Localidad" id="localidad">
            <br><br>
            <input type="text" placeholder="Tipo de propiedad" id="tipo_propiedad">
            <input type="text" placeholder="Dormitorios" id="dormitorio">
            <input type="text" placeholder="Baños" id="baño">
            <input type="text" placeholder="Precio máx." id="precio_max">
            <input type="text" placeholder="Precio mín." id="precio_min">
            <button id="buscar">Buscar</button>
        </div>
        
    </div> -->

    <!-- BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>