<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../public/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="ivgarciapropiedades, ignacio garcia, capital federal, departamentos, casas, cocheras, lotes, ph, duplex, inmuebles, inmobiliaria, bienes raices, venta, ventas, alquiler, propiedades, tasaciones, real estate, estate, 
    appraisals"/>
    <meta name="description" content="ivgarciapropiedades es una inmobiliaria que alquila y vende propiedades en Capital Federal. Departamentos, casas, chalets, terrenos, oficinas, ph, lotes, fondos de comercio, cocheras, campos, emprendimientos y todo tipo de inmuebles. Ignacio Garcia"/>
    <link rel="stylesheet" href="../css/inmo.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    
    <title><%= title %></title>
    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/227ddda5f1.js"></script>

</head>
<body>
    <% include partials/cabecera.html %>

    <% include partials/logo.html %>

    <% include partials/nav.html %>

    <% include partials/barra_busqueda.html %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 id="prop_dest">Propiedades destacadas</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div id="img_bot_1">
                    <h2>Botanical, Malabia</h2>
                    <img id="bot_1" src="img/botanical_1.jpg" alt="" width="400px" height="auto">
                    <p>Botanical - 1° Piso - Unidad "A" - 3 Ambientes con dependencia - 2 Suites - Cochera/Baulera</p>
                    <a href="/inmuebles/departamento-en-venta-botanical-malabia">Más detalles...</a>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer.html %>


    

    <!-- BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>