<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="ivgarciapropiedades, ignacio garcia, capital federal, departamentos, casas, cocheras, lotes, ph, duplex, inmuebles, inmobiliaria, bienes raices, venta, ventas, alquiler, propiedades, tasaciones, real estate, estate, 
        appraisals" />
    <meta name="description"
        content="ivgarciapropiedades es una inmobiliaria que alquila y vende propiedades en Capital Federal. Departamentos, casas, chalets, terrenos, oficinas, ph, lotes, fondos de comercio, cocheras, campos, emprendimientos y todo tipo de inmuebles. Ignacio Garcia" />
    <link rel="stylesheet" href="../css/inmo.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">

    <title><%= title %></title>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/227ddda5f1.js"></script>
</head>

<body>
    <% include partials/cabecera.html %>

    <% include partials/logo.html %>

    <% include partials/nav.html %>

    <% include partials/barra_busqueda.html %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>Listado de inmuebles</h2>
            </div>
        </div>
        <hr color="#959595"/>
    </div>

    <% include partials/footer.html %>
</body>

</html>