<footer class="container-fluid" style="background-color: black; color: white">
    <div class="row">
        <div class="col-6">
            <!-- <p id="contacto">CONTACTO</p> -->
            <p id="tel1"><i class="fas fa-phone"></i> &nbsp; 011 2052-4118</p>
            <p id="tel"><i class="fab fa-whatsapp"></i> &nbsp; +54 11 5455-5533</p>
            <p id="tel"><i class="fab fa-whatsapp"></i> &nbsp; +54 11 5706-5509</p>

        </div>
        <div class="col-6">
            <!-- <p id="contacto">UBICACIÓN</p> -->
            <p id="tel1"><i class="fas fa-map-marker-alt"></i> &nbsp; Olleros 3591, Buenos Aires, Argentina</p>
            <p id="tel"><i class="far fa-envelope"></i> &nbsp; garciapropiedades1510@hotmail.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p id="copy">© Copyright 2019. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>